* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    // background-color: #16062A;
    
    // background-blend-mode: color-burn;

    #bg-image {
        background: top center / cover no-repeat fixed url("./img/iron-man-bg.jpg");
        filter: blur(5px);
        height: 100vh;
        z-index: -10;
        width: 100%;
        left: 0;
        right: 0;
        position: absolute;
    }

    .colour{
        background-color: #16062A;
        opacity: .7;
        height: 100vh;
        z-index: -5;
        width: 100%;
        left: 0;
        right: 0;
        position: absolute;
    }
            
}



.container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: center;
    width: 40vw;
    align-content: center;
    background: #2A1C52;
}

.hero-names {
    padding: 1.5em 0;
    padding-right: 0; 
    background: #1D0838;

    .header {
        padding-left: 2em;
        margin-bottom: 1.5em;
    }

    .hero {
        padding: 1.4em 2em;
        color: rgba(255, 255, 255, .8);
        border: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        // margin: .5em 0;
        background: #1D1338;

        display: flex;

        .icon > img{
            width: 25px;
        }

        .meta {
            margin-left: 15px;
        }
    }

    .active {
        background: #2A1C52;
    }
}

.hero-photo {
    width: 400px;
    height: auto;
}

.hero-photo > img {
    width: 300px;
    height: auto;
}